@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Auth Page */

.text {
  padding-bottom: 12px;
}
.button {
  background-color: #e3ebeb0f;
  border: none;
  padding: .5rem .75rem;
  color: rgb(7, 7, 7);
  font-size: .875rem;
  border-radius: .25rem;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 150px;
  text-decoration: underline;
}
.button:hover {
  background-color: #899c98b0;
}
.btnGoogle{
  color: #14141420;
  border-radius: 45px;
  margin-left: 150px;
}

/* .btn{
  width: 200px;
  height: 20px;
  background:#89d2c0;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 500;
  box-shadow: 0 0 10px;
} */

/* .input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
} */


.login-screen {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(44, 42, 42, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #141313;
  padding: 20px 45px 20px 20px;
  margin-top: 20px;
  
  
}
.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form{
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  position: absolute;
  top: -20px;
  left: 870px;
  transform: translate(0%,-5%);
  border-radius: 10px;
  padding: 25px;
}
.cover{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: url(../images/back.avif) no-repeat;
  background-size: cover;
  background-position: center;
}
.container{
  width: 420px;
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(9px);
  color: #161414;
  border-radius: 12px;
  padding: 30px 40px;
}
.headings{
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  padding-left: 20px;
  margin-bottom: 20px;
}
.intro{
  text-align: center;
  margin-left: 35px;

}
.login-error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  height: 45px;
  background: #21a6ab;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #0c0b0b;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 28px;
}
.btn:hover{
  color: #202626;
}

.btn:focus{
  outline: none;
}


.login-or {
  margin: 20px 0px;
  text-align: center;
}

.login-social-icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #f5f5f55c;
}

.landingpage{
  background-image: url(../images/pexels-apasaric-325185.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center
}

.landingtext{
  font-size: 35px;
  text-align: center;
  font-weight: 600;
margin-left: 150px;
  margin-bottom: 100px;
}

.landingBtn {
  background-color: #f0f3f30f;
  border: none;
padding-right: 700px;
  color: rgb(7, 7, 7);
  font-size: .875rem;
  border-radius: .25rem;
  cursor: pointer;
  margin-top: 70px;

  text-decoration: underline;
}

/* Main Chat area */
.chat-area {
  display: flex;
  flex-direction: column;
  overflow: auto;
  &-header {
   display: flex;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   background: var(--chat-header-bg);
  }
  &-profile {
   width: 32px;
   border-radius: 50%;
   object-fit: cover;
  }
  &-title {
   font-size: 18px;
   font-weight: 600;
  }
  &-main {
   flex-grow: 1;
  }
 }

 .chat-area-footer {
  display: flex;
  border-top: 1px solid var(--border-color);
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  background-color: var(--theme-bg-color);
  position: sticky;
  bottom: 0;
  left: 0;
 }